<div class="flex-container">
  <div class="flex-row pad">
    <button mat-raised-button color='primary' (click)="enable()">{{text}}</button>
  </div>
  <div class="flex-row" style="max-width: 1000px;">
    <div class="pad">
      <mat-card>
        <mat-card-title>Melody</mat-card-title>
        <div class="pad">
          <div class="flex-row">
            <p>Pitch</p>
          </div>
          <div class="flex-row">
            <mat-slider [disabled]="disabled" max="127" thumbLabel [value]="pitchCtrl" (input)="pitchChange($event)"></mat-slider>
          </div>
        </div>
        <div class="pad">
          <div class="flex-row">
            <p>Velocity</p>
          </div>
          <div class="flex-row">
            <mat-slider [disabled]="disabled" max="127" thumbLabel [value]="velocityCtrl" (input)="velocityChange($event)"></mat-slider>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="pad">
      <mat-card>
        <mat-card-title>Envelope</mat-card-title>
        <div class="pad">
          <div class="flex-row">
            <p>Gate width</p>
          </div>
          <div class="flex-row">
            <mat-slider [disabled]="disabled" max="127" thumbLabel [value]="gateCtrl" (input)="gateChange($event)"></mat-slider>
          </div>
        </div>
        <div class="pad">
          <div class="flex-row">
            <p>Envelope Shape</p>
          </div>
          <div class="flex-row">
            <mat-slider [disabled]="disabled" max="127" thumbLabel [value]="envelopeCtrl" (input)="envelopeChange($event)"></mat-slider>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="pad">
      <mat-card>
        <mat-card-title>Oscilator</mat-card-title>
        <div class="pad">
          <div class="flex-row">
            <p>Waveshape</p>
          </div>
          <div class="flex-row">
            <mat-slider [disabled]="disabled" max="127" thumbLabel [value]="shapeCtrl" (input)="shapeChange($event)"></mat-slider>
          </div>
        </div>
        <div class="pad">
          <div class="flex-row">
            <p>Oscilator 2 tune</p>
          </div>
          <div class="flex-row">
            <mat-slider [disabled]="disabled" max="127" thumbLabel [value]="osc2Ctrl" (input)="osc2Change($event)"></mat-slider>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
