<div class="flex-container">
  <div class="flex-row pad">
    <button mat-raised-button color='primary' (click)="enable()">{{text}}</button>
  </div>
  <div class="pad">
    <div class="flex-row">
      <p>Pitch</p>
    </div>
    <div class="flex-row">
      <mat-slider [disabled]="disabled" max="127" thumbLabel [value]="pitchCtrl" (input)="pitchChange($event)"></mat-slider>
    </div>
  </div>
  <div class="pad">
    <div class="flex-row">
      <p>Waveshape</p>
    </div>
    <div class="flex-row">
      <mat-slider [disabled]="disabled" max="127" thumbLabel [value]="shapeCtrl" (input)="shapeChange($event)"></mat-slider>
    </div>
  </div>
  <div class="pad">
    <div class="flex-row">
      <p>Gate width</p>
    </div>
    <div class="flex-row">
      <mat-slider [disabled]="disabled" max="127" thumbLabel [value]="gateCtrl" (input)="gateChange($event)"></mat-slider>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
