@import './../node_modules/@angular/material/theming';

@include mat-core();

@mixin app-elements($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @include angular-material-theme($theme);

  body {
    background-color: mat-color($background, background);
    color: mat-color($foreground, text);
  }

}

$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-red);
$theme: mat-dark-theme($primary, $accent, $warn);

@include app-elements($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
